* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/bg.svg');
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,600;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Great+Vibes&display=swap');
